/* Loading icon */
.icon-loading {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #0074D9;
  /* Màu của vòng xoay */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.star-icon {
  color: var(--warning-color);
  font-size: 18px;
  margin-right: 3px;
}

.star-icon.filled {
  color: var(--warning-color);
}

.location-icon {
  width: 15px;
  height: 15px;
  background: #FF4136;
  border-radius: 50% 50% 50% 2%;
  transform: rotate(-45deg);
  position: relative;
  display: inline-block;
  margin-right: 6px;
}

.location-icon::after {
  content: "";
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
}

.salary-icon {
  width: 22px;
  height: 22px;
  background-color: var(--light-gray);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.btn-back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 14px;
  border-radius: 8px;
  box-shadow: var(--shadow-light);
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 9999;
}

.btn-back-to-top.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}

.btn-back-to-top:hover {
  transform: translateY(-2px);
}
