.auth-container {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    text-align: center;
}

.auth-container h2 {
    color: var(--main-color);
    margin-bottom: 20px;
}

.auth-container form {
    display: flex;
    flex-direction: column;
}

.auth-container input,
.auth-container select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-button {
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.auth-button:hover {
    background-color: #e68400;
}

.auth-container p {
    margin-top: 15px;
    font-size: 0.9rem;
}

.auth-container a {
    color: var(--main-color);
    text-decoration: none;
    font-weight: bold;
}

.auth-container a:hover {
    text-decoration: underline;
}
